@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --animate-aurora: aurora 60s linear infinite;
  @keyframes aurora {
    from {
      background-position:
        50% 50%,
        50% 50%;
    }
    to {
      background-position:
        350% 50%,
        350% 50%;
    }
  }
}

@theme static {
  --color-primary: var(--tw-color-primary, #000);
  --color-primary-foreground : var(--tw-color-primary-foreground, #fff);
}